/* Group Block Spacing */

.has-thin-lines {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: var(--wp--preset--font-size--small);
  font-style: italic;
  font-weight: 200;
  color: var(--wp--preset--color--secondary-dark);
  margin-bottom: var(--wp--preset--spacing--60);
}

.has-thin-lines::before,
.has-thin-lines::after {
  content: "";
  flex: 1 1 0;
  height: 1px;
  max-width: 10rem;
  opacity: 0.6;
  border-radius: 1px;
  background: var(--wp--preset--gradient--custom-secondary-medium-fade-in);
}

.has-thin-lines::after {
    background: var(--wp--preset--gradient--custom-secondary-medium-fade-out);
}

/* Double Blue Lines */

.has-thin-lines--blue {
    color: var(--wp--preset--color--primary-pale);
}

.has-thin-lines--blue::before {
    background: var(--wp--preset--gradient--custom-primary-pale-fade-in);
    opacity: 0.2;
}

.has-thin-lines--blue::after {
    background: var(--wp--preset--gradient--custom-primary-pale-fade-out);
    opacity: 0.2;
}

/* Brown Line Right */

.has-thin-lines--right {
    justify-content: flex-start;
}

.has-thin-lines--right::before {
  display: none;
}

.has-thin-lines--right::after {
    background: var(--wp--preset--gradient--custom-secondary-medium-fade-out);
}