/* Article Grid */

.is-article {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--wp--preset--spacing--40);
}

.is-article > li {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: var(--docs--radius-medium);
    border: 1px solid var(--wp--preset--color--secondary-light);
    background-color: var(--wp--preset--color--white);
    padding: var(--wp--preset--spacing--30);
}

.is-article .wp-block-post-featured-image {
    margin: 0 0 var(--wp--preset--spacing--20) 0;
}

.is-article .wp-block-post-featured-image img {
    border-radius: var(--docs--radius-small);
}

.is-article__content {
    padding: var(--wp--preset--spacing--20);
}

.is-article__content h2,
.is-article__content h3 {
    font-size: var(--wp--preset--font-size--2-x-large);
}

.is-article__content .is-article__date {
    font-size: var(--wp--preset--font-size--small);
    font-style: italic;
    color: var(--wp--preset--color--secondary-dark);
    margin: var(--wp--preset--spacing--30) 0 0 0;
}

.is-article__content .is-article__read {
    font-size: var(--wp--preset--font-size--small);
    font-style: italic;
    color: var(--wp--preset--color--secondary-dark);
    margin: 0 0 var(--wp--preset--spacing--20) 0;
}

.is-article__content .wp-block-post-excerpt {
    font-size: var(--wp--preset--font-size--small);
}

@media (--above-bp-tablet) {
    .is-article {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (--above-bp-desktop) {
    .is-article {
        grid-template-columns: repeat(3, 1fr);
    }
}