/* Card Group */

.wp-block-group.is-card {
    background: var(--wp--preset--color--white);
    color: var(--wp--preset--color--black);
    padding: var(--wp--preset--spacing--50);
    gap: var(--wp--preset--spacing--30);
    border: 1px solid var(--wp--preset--color--secondary);
    border-radius: 7px;
    margin-block-start: 0;
    max-width: initial;
}

.wp-block-group.is-card a {
    color: var(--wp--preset--color--primary-light);
    font-weight: 700;
}

.wp-block-group.is-card a:hover {
    color: var(--wp--preset--color--secondary-dark);
}

.wp-block-group.is-card h2 {
    font-size: var(--wp--preset--font-size--x-large);
}

.wp-block-group.is-card p {
    font-size: var(--wp--preset--font-size--small);
}

/* Card Footer */

.wp-block-group.is-card__footer {
    gap: var(--wp--preset--spacing--40);
    margin-top: var(--wp--preset--spacing--50);
}

/* Blue Card Modifier */

.wp-block-group.is-card--blue {
    background: var(--wp--preset--gradient--custom-primary-dark-fade-out);
    color: var(--wp--preset--color--white);
    padding: var(--wp--preset--spacing--60);
    border-color: var(--wp--preset--color--custom-white-20);
}

/* Beige Fade In Modifier */

.wp-block-group.is-card--beige-fade-in {
    background: var(--wp--preset--gradient--custom-secondary-pale-fade-in);
}