/* Card Group */

.wp-block-group.is-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--wp--preset--spacing--50);
}

.wp-block-group.is-card-grid--vertical {
    grid-template-columns: repeat(1, 1fr);
}

.wp-block-group.is-card-grid--no-gap {
    gap: 0;
}

@media (--bp-tablet) {
    .wp-block-group.is-card-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}