/* Hero Banner */

.wp-block-group.alignfull.is-style-hero.is-hero--blue-split {
    background: var(--wp--preset--gradient--custom-primary-dark-cut-to-beige);
    padding: 0 var(--wp--preset--spacing--50);
}

@media (--bp-tablet) {
    .wp-block-group.alignfull.is-style-hero.is-hero--blue-split {
        grid-template-columns: repeat(1, 1fr);
        background: var(--wp--preset--color--secondary-pale);
        padding: 0;
    }
}

/* Two Columns */

.wp-block-group.is-hero__columns {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.wp-block-group.is-hero__columns > div:first-child,
.wp-block-group.is-hero__columns > div:last-child {
    padding: var(--wp--preset--spacing--80) 0;
    height: 100%;
}

.wp-block-group.is-hero__columns > div:first-child {
    color: var(--wp--preset--color--white);
    background-image: url("../images/grainy-bg-primary.jpg");
    background-repeat: repeat;
    padding-right: var(--wp--preset--spacing--60);
}

.wp-block-group.is-hero__columns > div:last-child {
    padding-left: var(--wp--preset--spacing--60);
}

.wp-block-group.is-hero__columns > div > div {
    gap: var(--wp--preset--spacing--50);
}

@media (--bp-tablet) {
    .wp-block-group.is-hero__columns {
        grid-template-columns: repeat(1, 1fr);
        gap: var(--wp--preset--spacing--30);
    }
    
    .wp-block-group.is-hero__columns > div:first-child,
    .wp-block-group.is-hero__columns > div:last-child {
        padding: var(--wp--preset--spacing--50);
    }

    .wp-block-group.is-hero__columns > div:first-child {
        /* background-image: none; */
        background: var(--wp--preset--gradient--custom-secondary-light-fade-to-bottom);
    }
}

.wp-block-group.is-hero__columns > div {
    padding: 0;
}