/* Hero Banner */

.wp-block-group.alignfull.is-style-hero.is-hero--blue-split {
    background: var(--wp--preset--gradient--custom-primary-dark-cut-to-beige);
    /* padding: 0 var(--wp--preset--spacing--50); */
    padding: 0;
}

@media (--bp-tablet) {
    .wp-block-group.alignfull.is-style-hero.is-hero--blue-split {
        grid-template-columns: repeat(1, 1fr);
        /* gap: var(--wp--preset--spacing--60); */
        background: var(--wp--preset--color--secondary-pale);
        padding: 0;
    }
}

/* Two Columns */

.wp-block-group.is-hero--blue-split .is-two-columns {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: var(--wp--preset--spacing--80); */
    gap: 0;
    margin: 0 auto;
    padding: 0;
}

.wp-block-group.is-hero--blue-split .is-two-columns > div {
    /* padding: var(--wp--preset--spacing--70) 0; */
}

@media (--bp-tablet) {
    .wp-block-group.is-hero--blue-split .is-two-columns {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        padding: 0;
    }

    .wp-block-group.is-hero--blue-split .is-two-columns > div {
        /* padding: var(--wp--preset--spacing--50); */
    }

    .wp-block-group.is-hero--blue-split .is-two-columns > div:first-child {
        color: var(--wp--preset--color--black);
        background: var(--wp--preset--gradient--custom-secondary-light-fade-to-bottom);
    }
}

/* Content for Blue Column */

.wp-block-group.is-hero--blue-split .is-two-columns > div:first-child {
    color: var(--wp--preset--color--white);
    background-color: var(--wp--preset--color--primary);
    background-image: url("../images/grainy-bg-primary.jpg");
    background-repeat: repeat;
}

@media (--bp-tablet) {
    .wp-block-group.is-hero--blue-split .is-two-columns > div:first-child {
        color: var(--wp--preset--color--black);
    }
}