/* Hero Banner */

.wp-block-group.alignfull.is-style-hero-blue.is-hero--homepage {
    background: var(--wp--preset--gradient--custom-primary-hero-blue);
    padding: 0 var(--wp--preset--spacing--50);
}

@media (--bp-tablet) {
    .wp-block-group.alignfull.is-style-hero-blue.is-hero--homepage {
        grid-template-columns: repeat(1, 1fr);
        background: var(--wp--preset--color--secondary-pale);
        padding: 0;
    }
}

/* Two Columns */

.is-hero--homepage .wp-block-group.is-hero__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.is-hero--homepage .wp-block-group.is-hero__columns .is-hero__content,
.is-hero--homepage .wp-block-group.is-hero__columns .is-hero__form {
    padding: var(--wp--preset--spacing--80) 0;
    height: 100%;
}

.is-hero--homepage .wp-block-group.is-hero__columns .is-hero__content {
    color: var(--wp--preset--color--white);
    background-image: url("../images/hero-bg-blue.jpg");
    background-size: cover;
    background-position: center;
    padding-right: var(--wp--preset--spacing--70);
    gap: var(--wp--preset--spacing--80);
}

.is-hero--homepage .wp-block-group.is-hero__columns .is-hero__form {
    padding-left: var(--wp--preset--spacing--70);
}

@media (--bp-tablet) {
    .is-hero--homepage .wp-block-group.is-hero__columns {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
    
    .is-hero--homepage .wp-block-group.is-hero__columns .is-hero__content,
    .is-hero--homepage .wp-block-group.is-hero__columns .is-hero__form {
        padding: var(--wp--preset--spacing--60) var(--wp--preset--spacing--50);
    }
}