/**
 * Custom Styles for TC Projects
 */

/* Background SVG Grid Pattern */
body::after,
.wp-block-navigation__responsive-close::after {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background-image: 
        repeating-linear-gradient(85deg, transparent, transparent 48px, rgba(0,0,0, 0.035) 48px, rgba(0,0,0, 0.035) 49px),
        repeating-linear-gradient(175deg, transparent, transparent 48px, rgba(0,0,0, 0.035) 48px, rgba(0,0,0, 0.035) 49px);
    mask-image: radial-gradient(circle at top right, black 25%, transparent 55%);
    -webkit-mask-image: radial-gradient(circle at top right, black 25%, transparent 55%);
}

/* Header Sticky Background Blur Effect */
header.is-position-sticky {
    backdrop-filter: blur(8px) saturate(180%);
    -webkit-backdrop-filter: blur(8px) saturate(180%);
}

.wp-block-navigation__responsive-container.is-menu-open.is-menu-open {
    height: 100vh;
}

/* ===========================
Site Title Styles
=========================== */

.idc-site-title.wp-block-site-title {
    max-width: 100px;
}

/* ===========================
Navigation Styles
=========================== */

.idc-header .wp-block-navigation-item__content {
    font-weight: 300;
    color: var(--wp--preset--color--black-800);

    &:hover {
        color: var(--wp--preset--color--orange-700);
    }
}

/* .wp-block-navigation .wp-block-navigation-item .wp-block-navigation-item__content:hover,
.wp-block-navigation .wp-block-navigation-item.current-menu-item .wp-block-navigation-item__content,
.wp-block-navigation .wp-block-navigation-item.current-menu-item .wp-block-navigation-item__content:hover {
    color: var(--wp--preset--color--blue-600);
    font-weight: 300;
} */

/* ===========================
Navigation Responsive Styles
=========================== */

/* @media (max-width: 599px) {
    .wp-block-navigation__responsive-dialog {
        margin: var(--wp--preset--spacing--lg) !important;
        padding: 0;
    }

    .lumen-mobile-nav .wp-block-navigation__container {
        max-width: 220px;
        width: 100%;
    }

    .lumen-mobile-nav .wp-block-navigation-item {
        width: 100%;
    }

    .lumen-mobile-nav .wp-block-navigation-item .wp-block-navigation-item__content {
        display: block;
        width: 100%;
        text-align: center;
        padding: var(--wp--preset--spacing--xs) var(--wp--preset--spacing--sm) !important;
        background-color: var(--wp--preset--color--black-25);
        border: 1px solid var(--wp--preset--color--white-80);
        color: var(--wp--preset--color--gray-300);
        border-radius: 8px;
        margin: 0;
    }

    .lumen-mobile-nav .wp-block-navigation-item .wp-block-navigation-item__content:hover {
        border-color: var(--wp--preset--color--emerald);
        color: var(--wp--preset--color--emerald);
    }

    .wp-block-navigation__responsive-container-close {
        background-color: var(--wp--preset--color--black-80);
        padding: var(--wp--preset--spacing--xs);
        border-radius: 50%;
    }

    .wp-block-navigation__responsive-container-close svg {
        width: 20px;
        height: 20px;
    }
} */

/* ===========================
Breadcrumbs Styles
=========================== */

.wp-block-x3p0-breadcrumbs a {
    font-weight: 300;
    font-style: italic;
}

/* ===========================
Pagination Styles
=========================== */

.wp-block-query-pagination {
    margin-top: var(--wp--preset--spacing--xl);
}

.wp-block-query-pagination-numbers {
    display: flex;
    gap: var(--wp--preset--spacing--xs);
    flex-wrap: wrap;
}

.wp-block-query-pagination-numbers .page-numbers {
    font-weight: 300;
    font-style: italic;
    color: var(--wp--preset--color--gray-600);
    padding: var(--wp--preset--spacing--xs) var(--wp--preset--spacing--sm);
    margin: 0;
    border-radius: 8px;
}

.wp-block-query-pagination-numbers a.page-numbers:hover,
.wp-block-query-pagination-numbers span.page-numbers.current {
    color: var(--wp--preset--color--orange-700);
}

/* ===========================
Comments Form Styles
=========================== */

.wp-block-post-comments-form .logged-in-as,
.wp-block-post-comments-form .comment-form-comment {
    font-size: var(--wp--preset--font-size--small);
}

.wp-block-post-comments-form .comment-form-comment textarea {
    background-color: var(--wp--preset--color--black-25);
    border: 1px solid var(--wp--preset--color--white-10);
    color: var(--wp--preset--color--white);
    margin-top: var(--wp--preset--spacing--sm);
    padding: var(--wp--preset--spacing--md);
    border-radius: 8px;
}

.wp-block-post-comments-form .comment-form-comment textarea:focus {
    outline: 1px solid var(--wp--preset--color--emerald);
}

/* ===========================
Comments Form Styles
=========================== */

.idc-article-card .meta {
    width: 100%;
    margin-top: auto;
}