body {
    background-color: var(--wp--preset--color--secondary-pale);
    background-image: url("../images/grainy-bg-body.jpg");
    background-repeat: repeat;
}

/* .idc-main {
    margin-block-start: 0;
} */