<!-- wp:template-part {"slug":"header","area":"header","align":"full"} /-->

<!-- wp:group {"metadata":{"name":"Banner with Image"},"className":"is-style-default","backgroundColor":"primary","layout":{"type":"constrained","contentSize":"1280px"}} -->
<div class="wp-block-group is-style-default has-primary-background-color has-background"><!-- wp:cover {"useFeaturedImage":true,"isUserOverlayColor":true,"gradient":"custom-blue-outer-edges","align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"},"padding":{"right":"0","left":"0"}},"color":{"duotone":"var:preset|duotone|grayscale"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover alignwide" style="margin-bottom:var(--wp--preset--spacing--60);padding-right:0;padding-left:0"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-100 has-background-dim has-background-gradient has-custom-blue-outer-edges-gradient-background"></span><div class="wp-block-cover__inner-container"><!-- wp:post-title {"textAlign":"left","level":1,"style":{"spacing":{"margin":{"bottom":"0"},"padding":{"top":"0","bottom":"0"}}}} /--></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:post-content {"tagName":"main","align":"full","className":"idc-main","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|60"},"margin":{"bottom":"0"},"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"}} /-->

<!-- wp:template-part {"slug":"footer"} /-->