<!-- wp:template-part {"slug":"header","area":"header","align":"full"} /-->

<!-- wp:group {"tagName":"section","metadata":{"name":"Page Image Banner","categories":["idocs-sections-en"]},"align":"full","className":"is-style-blue","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"},"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"constrained"}} -->
<section class="wp-block-group alignfull is-style-blue" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:group {"tagName":"header","metadata":{"name":"Section Heading: White"},"align":"wide","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
<header class="wp-block-group alignwide" style="padding-bottom:var(--wp--preset--spacing--30)"><!-- wp:post-title {"level":1,"style":{"elements":{"link":{"color":{"text":"var:preset|color|white"},":hover":{"color":{"text":"var:preset|color|primary-pale"}}}}},"textColor":"white"} /--></header>
<!-- /wp:group --></section>
<!-- /wp:group -->

<!-- wp:post-content {"tagName":"main","align":"full","className":"idc-main","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|0","top":"var:preset|spacing|0"},"blockGap":"var:preset|spacing|50","padding":{"bottom":"var:preset|spacing|70","top":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} /-->

<!-- wp:template-part {"slug":"footer"} /-->