.wp-block-group.alignfull.is-style-white + .wp-block-group.alignfull.is-style-white,
.wp-block-group.alignfull.is-style-beige + .wp-block-group.alignfull.is-style-beige {
    padding-top: 0;
    margin-top: calc(var(--wp--preset--spacing--50) * -1);


}

.wp-block-group.alignfull[class*="is-style-"] + :not(.wp-block-group.alignfull[class*="is-style-"]),
:not(.wp-block-group.alignfull[class*="is-style-"]) + .wp-block-group.alignfull[class*="is-style-"] {
    margin-top: var(--wp--preset--spacing--70);
}

.wp-block-group.alignfull + .wp-block-group.alignfull {
    margin-block-start: 0;
}