/* Group Block Spacing */

.wp-block-paragraph.is-style-thin-lines {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em; /* space between text and lines */
}

.wp-block-paragraph.is-style-thin-lines::before,
.wp-block-paragraph.is-style-thin-lines::after {
  content: "";
  flex: 1 1 0;
  height: 1px;
  background: var(--wp--preset--gradient--custom-secondary-medium-fade-in);
  max-width: 10rem;
  opacity: 0.6;
  border-radius: 1px;
}

.wp-block-paragraph.is-style-thin-lines::after {
    background: var(--wp--preset--gradient--custom-secondary-medium-fade-out);
}