/* Site Navigation */

.wp-block-navigation {
    flex-grow: 1;
    justify-content: end;
}

.wp-block-navigation-item {
    font-size: var(--wp--preset--font-size--small);
    color: var(--wp--preset--color--primary-pale);
}

.wp-block-navigation-item:hover {
    color: var(--wp--preset--color--white);
}

.wp-block-navigation-item a {
    font-weight: 400;
}

/* Dropdown Menu */

@media (--above-bp-mobile) {
    .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
        top: 40px;
        color: var(--wp--preset--color--secondary-dark);
        background-color: var(--wp--preset--color--secondary-pale);
        border: 1px solid var(--wp--preset--color--secondary-light);
        border-radius: var(--docs--radius-medium);
        box-shadow: var(--wp--preset--shadow--sharp);
    }

    .wp-block-navigation.items-justified-right .has-child > .wp-block-navigation__submenu-container.wp-block-navigation__submenu-container {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container .wp-block-navigation-item a {
        font-size: var(--idocs--font-size--x-small);
        color: var(--wp--preset--color--black);
        background-color: none;
        padding: var(--wp--preset--spacing--10);
        white-space: normal;
        width: 100%;
    }

    .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container .wp-block-navigation-item:hover {
        background-color: var(--wp--preset--color--white);
    }

    .wp-block-navigation .has-child .wp-block-navigation-submenu__toggle[aria-expanded="true"] ~ .wp-block-navigation__submenu-container,
    .wp-block-navigation .has-child:not(.open-on-click):not(.open-on-hover-click):focus-within > .wp-block-navigation__submenu-container {
        width: 280px;
    }

    .wp-block-navigation .has-child .wp-block-navigation-submenu__toggle[aria-expanded="true"] ~ .wp-block-navigation__submenu-container.mega-menu,
    .wp-block-navigation .has-child:not(.open-on-click):not(.open-on-hover-click):focus-within > .wp-block-navigation__submenu-container.mega-menu {
        width: 560px;
    }
}

/* Mega Menu */

@media (--above-bp-mobile) {
    .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container.mega-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.wp-block-navigation__responsive-container-open,
.wp-block-navigation__responsive-container-close {
    color: var(--wp--preset--color--white);
}