/* Text Inputs */
.gform-theme--framework input[type]:where(:not(.gform-text-input-reset):not([type="hidden"])):where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)) {
    border-color: var(--wp--preset--color--grey);
    border-radius: var(--docs--radius-medium);
    box-shadow: none;

    &::placeholder {
        color: var(--wp--preset--color--grey);
    }
}

/* Textareas */
.gform-theme--framework textarea:where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)) {
    border-color: var(--wp--preset--color--grey);
    border-radius: var(--docs--radius-medium);
    box-shadow: none;

    &::placeholder {
        color: var(--wp--preset--color--grey);
    }
}

/* Selects */
.gform-theme--framework select:where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)) {
    font-size: 0.75rem;
    color: var(--wp--preset--color--grey);
    border-color: var(--wp--preset--color--grey);
    border-radius: var(--docs--radius-medium);
    box-shadow: none;
}

.gform_heading {
    margin-bottom: var(--wp--preset--spacing--50);
}

/* Required Legend */
.gform_required_legend {
    display: none;
}

.gform-theme--foundation .gform_fields {
    row-gap: var(--wp--preset--spacing--60);
}

/* Hero Form */

.is-hero__form {
    .gform_title {
        font-size: var(--wp--preset--font-size--heading-medium);
        font-weight: 400;
        color: var(--wp--preset--color--primary);
        margin-block-start: 0;
        margin-bottom: var(--wp--preset--spacing--30);
    }

    .gform_description {
        font-size: var(--wp--preset--font-size--small);
        color: var(--wp--preset--color--black);
        line-height: 1.5;
        margin-block-start: var(--wp--preset--spacing--40);
        margin-block-end: 0;
    }

    .gform-theme--foundation .gform_fields {
        row-gap: var(--wp--preset--spacing--50);
    }

    .gform-theme--framework input[type]:where(:not(.gform-text-input-reset):not([type="hidden"])):where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)),
    .gform-theme--framework textarea:where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)),
    .gform-theme--framework select:where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)) {
        border-color: var(--wp--preset--color--secondary-medium);

        &::placeholder {
            font-size: 0.75rem;
            color: var(--wp--preset--color--grey);
        }
    }
}