#gform_wrapper_3[data-form-index="0"].gform-theme, [data-parent-form="3_0"] {
	
    --gf-color-primary: #1F3A5B;
	--gf-color-primary-rgb: 31, 58, 91;
	--gf-color-primary-contrast: #FFFFFF;
	--gf-color-primary-contrast-rgb: 255, 255, 255;
	--gf-color-primary-darker: #000829;
	--gf-color-primary-lighter: #516C8D;
	
    --gf-color-secondary: #FFFFFF;
	--gf-color-secondary-rgb: 255, 255, 255;
	--gf-color-secondary-contrast: #191919;
	--gf-color-secondary-contrast-rgb: 25, 25, 25;
	--gf-color-secondary-darker: #F5F5F5;
	--gf-color-secondary-lighter: #FFFFFF;
	
    --gf-color-out-ctrl-light: rgba(17, 35, 55, 0.1);
	--gf-color-out-ctrl-light-rgb: 17, 35, 55;
	--gf-color-out-ctrl-light-darker: rgba(220, 214, 204, 0.35);
	--gf-color-out-ctrl-light-lighter: #F5F5F5;
	--gf-color-out-ctrl-dark: #585e6a;
	--gf-color-out-ctrl-dark-rgb: 88, 94, 106;
	--gf-color-out-ctrl-dark-darker: #191919;
	--gf-color-out-ctrl-dark-lighter: rgba(25, 25, 25, 0.65);
	
    --gf-color-in-ctrl: #FFFFFF;
	--gf-color-in-ctrl-rgb: 255, 255, 255;
	--gf-color-in-ctrl-contrast: #191919;
	--gf-color-in-ctrl-contrast-rgb: 25, 25, 25;
	--gf-color-in-ctrl-darker: #F5F5F5;
	--gf-color-in-ctrl-lighter: #FFFFFF;
	--gf-color-in-ctrl-primary: #b3472d;
	--gf-color-in-ctrl-primary-rgb: 179, 71, 45;
	--gf-color-in-ctrl-primary-contrast: #fff;
	--gf-color-in-ctrl-primary-contrast-rgb: 255, 255, 255;
	--gf-color-in-ctrl-primary-darker: #811500;
	--gf-color-in-ctrl-primary-lighter: #E5795F;
	--gf-color-in-ctrl-light: rgba(17, 35, 55, 0.1);
	--gf-color-in-ctrl-light-rgb: 17, 35, 55;
	--gf-color-in-ctrl-light-darker: rgba(220, 214, 204, 0.35);
	--gf-color-in-ctrl-light-lighter: #F5F5F5;
	--gf-color-in-ctrl-dark: #585e6a;
	--gf-color-in-ctrl-dark-rgb: 88, 94, 106;
	--gf-color-in-ctrl-dark-darker: #191919;
	--gf-color-in-ctrl-dark-lighter: rgba(25, 25, 25, 0.65);
	
    --gf-radius: 4px;
	
    --gf-font-size-secondary: 13px;
	--gf-font-size-tertiary: 12px;
	
    --gf-icon-ctrl-number: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 0C4.26522 5.96046e-08 4.51957 0.105357 4.70711 0.292893L7.70711 3.29289C8.09763 3.68342 8.09763 4.31658 7.70711 4.70711C7.31658 5.09763 6.68342 5.09763 6.29289 4.70711L4 2.41421L1.70711 4.70711C1.31658 5.09763 0.683417 5.09763 0.292893 4.70711C-0.0976311 4.31658 -0.097631 3.68342 0.292893 3.29289L3.29289 0.292893C3.48043 0.105357 3.73478 0 4 0ZM0.292893 9.29289C0.683417 8.90237 1.31658 8.90237 1.70711 9.29289L4 11.5858L6.29289 9.29289C6.68342 8.90237 7.31658 8.90237 7.70711 9.29289C8.09763 9.68342 8.09763 10.3166 7.70711 10.7071L4.70711 13.7071C4.31658 14.0976 3.68342 14.0976 3.29289 13.7071L0.292893 10.7071C-0.0976311 10.3166 -0.0976311 9.68342 0.292893 9.29289Z' fill='rgba(25, 25, 25, 0.65)'/%3E%3C/svg%3E");
	--gf-icon-ctrl-select: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.292893 0.292893C0.683417 -0.097631 1.31658 -0.097631 1.70711 0.292893L5 3.58579L8.29289 0.292893C8.68342 -0.0976311 9.31658 -0.0976311 9.70711 0.292893C10.0976 0.683417 10.0976 1.31658 9.70711 1.70711L5.70711 5.70711C5.31658 6.09763 4.68342 6.09763 4.29289 5.70711L0.292893 1.70711C-0.0976311 1.31658 -0.0976311 0.683418 0.292893 0.292893Z' fill='rgba(25, 25, 25, 0.65)'/%3E%3C/svg%3E");
	--gf-icon-ctrl-search: url("data:image/svg+xml,%3Csvg width='640' height='640' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M256 128c-70.692 0-128 57.308-128 128 0 70.691 57.308 128 128 128 70.691 0 128-57.309 128-128 0-70.692-57.309-128-128-128zM64 256c0-106.039 85.961-192 192-192s192 85.961 192 192c0 41.466-13.146 79.863-35.498 111.248l154.125 154.125c12.496 12.496 12.496 32.758 0 45.254s-32.758 12.496-45.254 0L367.248 412.502C335.862 434.854 297.467 448 256 448c-106.039 0-192-85.962-192-192z' fill='rgba(25, 25, 25, 0.65)'/%3E%3C/svg%3E");
	
    --gf-label-space-y-secondary: var(--gf-label-space-y-sm-secondary);
	
    --gf-ctrl-border-color: #DCD6CC;
	--gf-ctrl-size: var(--gf-ctrl-size-sm);
	--gf-ctrl-label-color-primary: #112337;
	--gf-ctrl-label-color-secondary: #112337;
	--gf-ctrl-choice-size: var(--gf-ctrl-choice-size-sm);
	--gf-ctrl-checkbox-check-size: var(--gf-ctrl-checkbox-check-size-sm);
	--gf-ctrl-radio-check-size: var(--gf-ctrl-radio-check-size-sm);
	--gf-ctrl-btn-font-size: var(--gf-ctrl-btn-font-size-sm);
	--gf-ctrl-btn-padding-x: var(--gf-ctrl-btn-padding-x-sm);
	--gf-ctrl-btn-size: var(--gf-ctrl-btn-size-sm);
	--gf-ctrl-btn-border-color-secondary: #DCD6CC;
	--gf-ctrl-file-btn-bg-color-hover: #EBEBEB;
	
    --gf-field-img-choice-size: var(--gf-field-img-choice-size-md);
	--gf-field-img-choice-card-space: var(--gf-field-img-choice-card-space-md);
	--gf-field-img-choice-check-ind-size: var(--gf-field-img-choice-check-ind-size-md);
	--gf-field-img-choice-check-ind-icon-size: var(--gf-field-img-choice-check-ind-icon-size-md);
	--gf-field-pg-steps-number-color: rgba(17, 35, 55, 0.8);
}